header.title{
    background-color: rgb(31, 0, 104);
    color: aquamarine;
    text-align: center;


}

main.subtitle{
    background-color: lightgray;
    padding: 1em;
}

body{
    background-image: url('record.png');
    background-repeat: repeat;
    margin: 0;
}